.piano {
  .frame {
    fill: #000;
  }

  margin: 2rem 0;

  .key {
    stroke-width: 1px;
    cursor: pointer;
    .white {
      fill: #ebebeb;
      }    
    
    &:focus, &:hover {
      path:not(.outline) {
        fill: #000;
      }
    }

    &:focus:not([data-focus-visible-added]) {
      path:not(.outline) {
        &.white {
          fill:#ebebeb;
        }

        &.black {
          fill: black;
        }
      }
    }
    &.pressed {
      path:not(.outline) {   
        fill: #000 !important;
      }
    }
  }

  .outline {
    fill: #000;
  }
 
}
